* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.1;
}

fieldset {
  border: none;
}

.heading {
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  margin: 30px 0;
}

.form {
  max-width: 470px;
  margin: 0 auto;
  background: rgba(202, 109, 79, 0.3);
  border-radius: 15px;
  padding: 30px;
}

.input-wrapper {
  margin-bottom: 20px;
}

.input-label {
  display: block;
  margin-bottom: 10px;
}

.required {
  color: #ff0000;
}

.input {
  border-radius: 10px;
  border: none;
  width: 100%;
  height: 35px;
  padding: 10px;
}

.radio-button-wrapper {
  margin-top: 10px;
  font-size: 0;
}

.radio-button {
  margin-right: 5px;
}

.radio-label {
  font-size: 14px;
}

.textarea {
  resize: none;
  width: 100%;
  height: 75px;
  border-radius: 10px;
  padding: 10px;
}

.check-button-wrapper {
  margin-top: 10px;
}

.btn-wrapper {
  font-size: 0;
}

.btn {
  width: 185px;
  height: 35px;
  border-radius: 10px;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

.reset-btn {
  margin-right: 30px;
  background: #c4c4c4;
  color: #000;
}

.submit-btn {
  background: #000;
  color: #fff;
}

.table {
  min-width: 470px;
  border-collapse: collapse;
  margin: 30px auto;
  background-color: rgba(202, 109, 79, 0.3);
}

.table-data,
.table-header {
  padding: 10px;
  text-align: center;
  border: 1px solid #000;
}
